body{
    padding: 0;
    margin: 0;
}

.corpo{
    height: auto;
    width: 300px;
    margin: 10% auto 0 auto;
    text-align: center;
    background-color: rgb(139, 139, 139);
    border-radius: 20px;
}
.secundaria{
    height: auto;
}
.numero{
    margin-bottom: 10px;
    display: inline-block;
}